.categories .category-item{
    background-color: #f5f5f5;
    border-radius: 4px;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}

.categories .category-item a{
    display: inline-block;
    padding: 50px;
    text-align: center;
    margin: 5px 0;
    font-size: 15px;
    font-weight: 500;
}

.categories .category-item .category-image{
        width: 100%;
        transition: transform ease .2s;
}

.categories .category-item .category-image:hover{
    transform: scale(1.1);
}

.categories .section-title .img-fluid{
    flex: 1;
    width: 10%;
    display: flex;
    justify-content: left;
    
}

.categories .category-item .category-btn{
    background-color:#820c91;
    color:#fff;
    width: 100%;
    transition: transform ease .2s;
    padding: 8px;
    border-radius: 10px;
    margin-top: 10px;
}
